:root {
    --color-marroncito: #b18c54;
    --color-Beigeclaro: #e8dac6;
    --color-Blancoperla: #ebe0d2;
    --color-Beigecalido: #D9C6AA;
    --color-Doradoreal: #C8A74E;
    --color-marron: #7a5a0d;
    --color-Grisperla: #C5C5C5;
    --color-marronoscuro: #594105;

    --fuente-titulos:"Cinzel";
    --fuente-texto:"Libertinus Serif Display";
    --fuente-texto-2:georgia;
}
/*  Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
}

body {
    background-color: var(--color-Beigeclaro);
    font-size: 16px;
    margin: 0;
}
.navegacion-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 2px 2px solid black;
}

.navegacion-principal a {
    transition: all 0.3s ease;
    position: relative;
    border-radius: 0;
    display: inline-block;
    text-align: center;
    color: var(--color-marroncito);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem;
    flex: 1;
}

.navegacion-principal a:hover {
    background-color: transparent;
    color: var(--color-marron);
    box-shadow: 0 0 15px var(--color-Beigecalido);
    border-radius: 0;
}

.navegacion-principal a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-Beigecalido);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.nav-bg {
  border: 2px solid var(--color-Doradoreal);
  background-color: var(--color-Blancoperla);
}
